<section id="follows">
  <div class="follows-container card">
    <h2 class="title">Requests</h2>
    <% if @requests.any? %>
      <% @requests.each do |follow| %>
        <div class="comment" style="align-items:center;">
          <%= render "profiles/profile_nav", user: follow.follower %>
          <div>
            <% if !follow.accepted %>
                <%= button_to "Trap 'em!", accept_follow_path(follow), method: :patch, class: "btn submit", style: "margin-bottom: 10px;" %>
            <% end %>
            <%= button_to "Release 'em!", deny_path(follow.follower), method: :delete, class: "btn blue" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="follows-container card">
    <h2 class="title">Followers</h2>
    <% if @followers.any? %>
      <% @followers.each do |follow| %>
        <div class="comment" style="align-items:center;">
          <%= render "profiles/profile_nav", user: follow.follower %>
          <div>
            <%= button_to "Release 'em!", deny_path(follow.follower), method: :delete, class: "btn blue" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>

  <div class="follows-container card">
    <h2 class="title">Following</h2>
    <% if @following.any? %>
      <% @following.each do |follow| %>
        <div class="comment" style="align-items:center;">
          <%= render "profiles/profile_nav", user: follow.follower %>
          <div>
            <%= button_to "Unfollow", unfollow_path(follow.follower), method: :delete, class: "btn blue" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</section>
