<section id="logo">
  <%= image_tag "amik-logo.png", width: "500" %>
  <h1 class="logo-title"><i>AMIK</i></h1>
</section>

<section id="new-post">
  <div class="card">
    <%= form_with model: @new_post do |form| %>
      <%= form.text_area :body, placeholder: "Write a new post...", class: "post-box" %>
      <div class="post-buttons-container">
        <%= form.submit "Create Post", class: "btn submit" %>
        <div class="field">
          <%= form.label :images, "Add Image", class: "upload-button btn" %>
          <%= form.file_field :images, class: "hidden-field", multiple: true %>
        </div>
      </div>
    <% end %>
  </div>
</section>

<section id="posts">
  <%= render "shared/posts", posts: @posts, new_comment: @new_comment %>
</section>
