<section id="logo">
  <%= image_tag "amik-logo.png", class: "logo-image" %>
  <h1 class="logo-title"><i>AMIK</i></h1>

  <div class="flex-container" style="align-items:center;">
    <a href="<%= profiles_path %>" class= "btn" style="text-align:center">View Profiles</a>
  </div>

</section>

<section id="new-post">
  <div class="card">
    <%= form_with model: @new_post do |form| %>
      <%= form.text_area :body, placeholder: "Write a new post...", class: "post-box" %>
      <div class="post-buttons-container">

        <div>
          <%= form.label :images, "Add Image", class: "blue btn" %>
          <%= form.file_field :images, class: "hidden-field", multiple: true, accept: "image/png, image/jpeg" %>
        </div>

        <%= form.submit "Create Post", class: "btn submit" %>
      </div>
    <% end %>
  </div>
</section>

<section id="posts">
  <%= render "shared/posts", posts: @posts, new_comment: @new_comment %>
</section>
